body {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    background-color: #fef5f9;
    margin: 1;
    padding: 20px;
    height:100vh;
    
}

.resume {
   
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(245, 132, 132, 0.1);
    display:inline-block;
    
    
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 24px;
    margin: 5px 0;
}

h2 {
    color: #e31a1a;
    font-size: 20px;
    border-bottom: 1px solid #191616;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h3 {
    color: #fffff;
    font-size: 18px;
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
}

.education-entry,
.project-entry {
    margin-bottom: 15px;
}
.left {
    flex: 2; 
    padding-right: 20px;
}

.right {
    flex: 1; 
    padding-left: 20px;
}
.contact-info ul{
    color: #e31a1a;
}

.skills ul {
    position: left;
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 0px;
}

.languages,
.dob {
    position: right;
    margin-top: 20px;
}